@font-face {
  font-family: Satoshi;
  src: url(./Fonts/Satoshi-Regular.otf);
}

body {
  margin: 0;
  font-family: Satoshi;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
